[submodule "coop-writing"] 
	path = coop-writing
	url = ../coop-writing/
[submodule "DicasConcursoProvaDeAula"]
	path = DicasConcursoProvaDeAula
	url = ../DicasConcursoProvaDeAula/
[submodule "DicasDeEscritaCientifica"]
	path = DicasDeEscritaCientifica
	url = ../DicasDeEscritaCientifica/
[submodule "DicasSlidesAcademicos"]
	path = DicasSlidesAcademicos
	url = ../DicasSlidesAcademicos/
[submodule "Guia-da-Realiza-o-do-Doutorado"]
	path = Guia-da-Realiza-o-do-Doutorado
	url = ../Guia-da-Realiza-o-do-Doutorado/
[submodule "Guia-da-Realiza-o-do-Mestrado"]
	path = Guia-da-Realiza-o-do-Mestrado
	url = ../Guia-da-Realiza-o-do-Mestrado/
[submodule "task-report"]
	path = task-report
	url = ../task-report/
[submodule "GuiaDoOrientado"]
	path = GuiaDoOrientado
	url = ../GuiaDoOrientado/

[submodule "Guia-da-Realizacao-do-TCC"]
	path = Guia-da-Realizacao-do-TCC
	url = ../Guia-da-Realizacao-do-TCC/
